@import "functions";

body
{
  background-size: cover;
  min-height:100%;
  background: url(../images/back.jpg) no-repeat fixed;
  background-size: cover;

}

@include mq('phone','max') {
    .display-3
    {
      font-size: 2rem;
    }
    .display-6
    {
      font-size: 1rem;
    }
    p
    {
      font-size: 1rem;
    }
  }

.container
{
  text-align: center;
  @include padding(1.5rem,15px,auto,15px);
  @include margin(1rem,auto,auto,auto);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.form input {
  padding: 6px 0;
}

.jumbotron
{
  @include text-shorten;
}