//mixins and functions

$breakpoints: (
        "phone":        360px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}